@media (max-width: 1000px) {
  .main-content {
    flex-direction: column-reverse;
  }
  .tour-img {
    /* padding-left: 2rem; */
  }

  .review-bar {
    position: relative;
    min-width: 95vw;
    max-width: 95vw;
    margin: 0;
    height: 70rem;
    overflow: hidden;
  }

  .tours-box {
    position: relative;
    width: 100%;
    max-height: initial;
    /* border: 1px solid beige; */
  }

  .review-scroll-box {
    position: relative;
    width: 101.5%;
    left: 0%;
    margin-top: 0.75rem;
    height: 60rem;
    /* border: 1px solid red; */
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .review-inner {
    box-shadow: none;
  }

  .tours-hero {
    margin-top: 2rem;
  }

  .tours-inner {
    box-shadow: none;
    width: 100%;
  }

  .tours-scroll-box {
    padding: 0rem;
  }

  .tour-text-cont {
    overflow: hidden;
  }

  .tour-img {
    height: 12rem;
    width: 12rem;
    left: 0.4rem;
  }
}

@media (max-width: 900px) {
  .tour-img-cont {
    width: 12rem;
  }
}

@media (max-width: 823px) {
  .hyro {
    display: none;
  }

  h1 {
    font-size: 65px;
    padding-left: 18rem;
  }
  .plaats-review-cta {
    width: 30%;
    left: 35%;
  }
}

@media (max-width: 650px) {
  .address-item {
    padding-left: 8rem;
  }

  .footer-center-box {
    margin-right: 7rem;
    transform: scale(0.8);
  }

  .submit-confirmed {
    font-size: 4vw;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
    padding-left: 10rem;
  }

  a {
    padding: 0.3rem 1rem;
  }

  video {
    height: 80vh;
  }

  .tours-title {
    font-size: 25px;
  }

  .tours-description {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .tour-img {
    height: 5rem;
    top: 0rem;
    margin-top: 4px;
    width: auto;
  }

  .plaats-review-cta {
    width: 10rem;
    margin: 0 auto;
    left: 30%;
  }

  .tour-img-cont {
    padding: 0;
    padding-left: 7px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: green; */
  }
  .tour-item {
    flex-direction: column;
  }

  .tour-text-cont {
    top: 1rem;
  }
}

@media (max-width: 500px) {
  .close-modal {
    left: 90%;
  }
}

@media (max-width: 400px) {
  h1 {
    padding-left: 7rem;
  }
}
